#apats th {
	width: 13%
}

#apats th:first-child {
	width: 9%
}

#apats thead tr th:not(.capdesetmana) {
	cursor: pointer;
}

#apats tr td {
	height: 150px;
	min-height: 150px;
}

#apats tr td select {
	width: 100%;
}

[data-cell]{
	vertical-align: top;
}

.plat {
	margin-top: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
}

.ingredient {
	padding: 10px 0;
}

.festiu {
	color: red;
}

.reveal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1005;
	display: none;
	background-color: rgba(10, 10, 10, 0.45);
	overflow-y: auto;
}

.graella {
	float: left;
}

.bloc-4 {
	width: 33%;
}

.reveal {
	z-index: 1006;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: none;
	padding: 1rem;
	border: 1px solid #cacaca;
	border-radius: 0;
	background-color: #fefefe;
	position: relative;
	top: 100px;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;
	width: 600px;
	max-width: 75rem;
}

.button {
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
}

.elimina-plats {
	background-image: url(../img/source_icons_remove-empty.svg);
	background-repeat: no-repeat;
}

.canvia-plats {
	background-image: url(../img/source_icons_refresh-circular.svg);
	background-repeat: no-repeat;
}

.crea-plats {
	background-image: url(../img/source_icons_add-circled-outline.svg);
	background-repeat: no-repeat;
}

.selecciona-plat {
	background-image: url(../img/source_icons_reminder-hand-gesture.svg);
	background-repeat: no-repeat;
}